{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div style="max-width:100%;">
  <div style="max-width:400px; margin:150px auto; -webkit-box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2); -moz-box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2); box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2);">

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button style="border: none; width:100px; height:40px; outline: none; margin:10px;" type="submit">{% trans "Sign Up" %}</button>
</form>
  </div>
</div>
{% endblock %}
